<!-- Describe task in general -->

<p>
    Sort the numbers in {% if interpreter.slug == "js-node" %}an array{% else %}a list{% endif %}. But the position of zeros should not be changed.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}An Array{% else %}A List{% endif %}.
</p>

<p>
    <strong>Output: </strong> An {% if interpreter.slug == "js-node" %}Array{% else %}Iterable (tuple, list, iterator ...){% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
